.header,
.main,
.footer {
  display: flex;
  padding: 24px;
}

.header,
.main,
.footer {
  background-color: #1F2937;
}
.header {
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
 justify-content: center;
 color: #E5E7EB;
 font-size: 18px;
 gap: 16px;
}

.secondary-text {
 color: #E5E7EB;
 font-size: 18px;
}

.main {
  display: flex;
  justify-content: space-around;
  color: #F9FAF8;
  gap: 48px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;

}

.main-text {
  font-size: 48px;
  font-weight: extra-bold;
}
.main-button,
.cto-button {
  display: flex;
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 6px 24px 6px 24px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.main-button {
  border: none;
}

.cto-button {
  border-color: #F9FAF8;
  border-style: solid;
}

.info {
  /*flex-direction: column;*/
  text-align: center;
  padding: 24px;
}

.info-header {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  margin-bottom: 32px;
}

#info-img1,
#info-img2,
#info-img3,
#info-img4 {
  width: 100px;
  height: 100px;
}

.pic-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-container {
  gap: 72px;
}



.info-text {
  max-width: 300px;
}

.quote-section {
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 24px;
}

.quote-container {
  display: flex;
}
.quote {
  white-space: pre-line;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.quotee {
  display: flex;
  justify-content: right;
  margin-right: auto;
  text-align: right;
  padding-right: 216px;
  font-weight: bold;
}
.call-to-action {
  padding: 24px
}
.cto-container {
  display: flex;
  background-color: #3882F6;
  color: #F9FAF8;
  justify-content: space-around;
  border-radius: 10px;
  padding: 24px;
}

.cto-header {
  font-size: 24px;
}

.cto-info-container {
  display: flex;
}

.footer {
  display: flex;
  color: #F9FAF8;
  justify-content: center;
}
body {
  margin: 0;
}


